# JIRA 
## Summary
{{.Fields.Summary}}
## Description
{{.Fields.Description}}
## Assignee
{{.Fields.Assignee.DisplayName}}
## Info
|Fields  |Status                   |
|:-------|:------------------------|
|Priority|{{.Fields.Priority.Name}}|
|Status|{{.Fields.Status.Name}}|`
